<a href="https://colab.research.google.com/github/Rafifh7/Machine-Learning/blob/main/Week1_Random_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

In [7]:
melbourne_data = pd.read_csv('/content/drive/MyDrive/Dataset/melb_data.csv')
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [8]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
#dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [10]:
y = melbourne_data.Price
y.describe()

count    6.196000e+03
mean     1.068828e+06
std      6.751564e+05
min      1.310000e+05
25%      6.200000e+05
50%      8.800000e+05
75%      1.325000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [11]:
melbourne_features = ['Rooms', 'Bathroom','Landsize', 'Lattitude', 'Longtitude']

In [12]:
x = melbourne_data[melbourne_features]
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [13]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [14]:
x.tail()

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
12205      3       2.0     972.0  -37.51232   145.13282
12206      3       1.0     179.0  -37.86558   144.90474
12207      1       1.0       0.0  -37.85588   144.89936
12209      2       1.0       0.0  -37.85581   144.99025
12212      6       3.0    1087.0  -37.81038   144.89389

In [15]:
from sklearn.tree import DecisionTreeRegressor
#Define model. Specify a number from random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state = 1)

In [16]:
#Fit Model
melbourne_model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [17]:
#Test the result on training data
print("making predictions for the following 5 houses:\n")
print(x.head())
print("\nthe predictions are:\n")
print(melbourne_model.predict(x.head()))

making predictions for the following 5 houses:

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

the predictions are:

[1035000. 1465000. 1600000. 1876000. 1636000.]

In [18]:
#calculate the mean absolute error MSE:
from sklearn.metrics import mean_absolute_error
predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [19]:
#use some data as training data to fit the model
#use the other data as validation to calculate mean_absolute_error
from sklearn.model_selection import train_test_split
#split data into training and validation data, for both features and target
#the split is based on random number generator. Supplying a numeric value to
#the random state argument guarantees we get the same split everytime we run this script
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state=0)

In [20]:
#define model
melbourne_model = DecisionTreeRegressor()
#fit model
melbourne_model.fit(train_x, train_y)

DecisionTreeRegressor()

In [21]:
#get predicted prices on validation data
val_predictions =melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

274014.7830858618

In [22]:
#use utility function to help compare MAE scores from different values for max_leaf_nodes
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
  model.fit(train_x, train_y)
  preds_val = model.predict(val_x)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [23]:
#compare MAE with different values of max_lead_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
  my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
  print("Max leaf nodes : %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes : 5 		 Mean Absolute Error: 385696
Max leaf nodes : 50 		 Mean Absolute Error: 279794
Max leaf nodes : 500 		 Mean Absolute Error: 261718
Max leaf nodes : 5000 		 Mean Absolute Error: 271996

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).